<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>DRC</title>
    <%= csrf_meta_tags %>
    <%= include_gon %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%=javascript_pack_tag 'application' %>
    <%=stylesheet_pack_tag 'stylesheets/layout' %>
  </head>
  <body>
    <div class="kahuna">
      <div id="app"></div>
    </div>

  </body>
</html>
