<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>VSO</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%=javascript_pack_tag 'application' %>
    <%=stylesheet_pack_tag 'stylesheets/layout' %>
    <script type="text/javascript" charset="utf-8">
        var img_path = "<%= asset_pack_path 'packs/images/VA-header.png' %>";
    </script>
  </head>
  <body>
    <div class="kahuna">
      <div id="app"></div>
    </div>

  </body>
</html>
